@import "fonts";
@import "mixins";
@import "variables";

@import "components/button";
@import "components/text-input";

body {
	font-size: 16px;
	font-family: "IBM Plex";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	background: $background;
	margin: 0;
	color: $text-primary;
}

i[class^="cv-icon-"] {
	font-family: "Carbon" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
	color: $text-on-color;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: $text-primary;
	-webkit-box-shadow: 0 0 0px 40rem $field-02 inset;
	@include input-border;
	border-top: none;
	border-right: none;
	border-left: none;
	outline: none;
}
