@import "fonts";
@import "mixins";
@import "variables";

@import "components/button";
@import "components/text-input";

body {
	font-size: 16px;
	font-family: "IBM Plex";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	background: $background;
	margin: 0;
}

i[class^="cv-icon-"] {
	font-family: "Carbon" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
	color: $text-on-color;
}
