.cv-text-input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__wrapper {
		position: relative;
		display: flex;
		justify-content: end;
		align-items: center;
		width: 100%;
	}
	&__label {
		color: $text-secondary !important;
		@include label-text;
		margin-bottom: 8px;
	}
	&__field {
		width: 100%;
		@include input-text;
		background: $field-01;
		color: $text-primary;
		@include input-border;
		line-height: 0;
		&::placeholder {
			color: $text-placeholder;
		}
		&:focus {
			@include focus;
		}
	}
	&__helper-text {
		@include helper-text;
		color: $text-secondary;
		margin-top: 4px;
	}
	&__interactive-block {
		display: flex;
		align-items: center;
		position: absolute;
	}
	.cv-status-icon {
		display: flex;
		align-items: center;
		padding-right: 16px;
	}
	&__toggle-password {
		display: inline-flex;
		background: transparent;
		outline: none;
		border: none;
		cursor: pointer;
		padding: 0;
		color: $icon-primary;
		padding: 8px 16px 8px 0px;
	}
}
// inline or full-width input {
.cv-text-input--is-inline {
	display: inline-flex;
}
.cv-text-input--is-inline .cv-text-input__wrapper {
	width: unset;
	.cv-text-input__field {
		width: unset;
	}
}
// statuses for input
.cv-text-input--error {
	.cv-text-input__field {
		@include input-border--error;
	}
	.cv-text-input__helper-text {
		color: $text-error;
	}
}

.cv-text-input--warning,
.cv-text-input--info {
	.cv-text-input__helper-text {
		color: $text-primary;
	}
}

.cv-text-input--readonly {
	.cv-text-input__field {
		cursor: not-allowed;
		background: transparent;
	}
	.cv-text-input__toggle-password {
		color: $icon-disabled;
		cursor: not-allowed;
	}
}

//sizes for input

.cv-text-input--lg {
	.cv-text-input__field {
		padding: 15px 48px 15px 16px;
	}
}
.cv-text-input--md {
	.cv-text-input__field {
		padding: 11px 48px 11px 16px;
	}
}
.cv-text-input--sm {
	.cv-text-input__field {
		padding: 7px 48px 7px 16px;
	}
}
